/* .clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
} */


body {
    background: #333;
}

.flex h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 4rem;
}

.clock {
    font-size: 4em;
    text-align: center;
    margin: 200px auto;
    color: yellow;
    font-family: arial;
}

.clock span {
    padding: 20px;
    background: #444;
}